body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
  color: #FFF;
}

*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #FFF;
  font-size: 1.5rem;
  padding: 20px;
}

a:hover{
  color: violet;
}